* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.h1{
    display: flex;
    position: relative;
    margin-bottom: 100px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 150%;

    color: #ffffff;
}
.body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    background-size: cover;
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    background: #c7b39b url(../resources/background3.jpg) ; /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
    filter:  grayscale(100%) blur(3px) brightness(20%);
}
.logo{
    width:130px;
    height:130px;
    display: inline;
    margin: 0 0 30px;
}
.contacts{
    color: white;
    margin-top: 2%;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.div-header{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 370%;
    line-height: 70px;
    color: #ffffff;
}