table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(2n+1) {
    background-color: rgba(121, 21, 21, 0.06);
}
th {
    background-color: #651717;
    color: white;
}
caption{
    margin: 25px 0px;
    color:#651717;
    font-size: 250%;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}


